
.imagenes{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.project-table{
    
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    /*background-color: rgba(104, 98, 98, 0.863);*/
    background-color: rgba(173, 173, 173, 0.863);
    color: black;      
  /*  font-family: 'Poppins', sans-serif;*/
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
}

.projects-link{
    color:rgb(12, 116, 121);
    border: 1px solid rgb(12,116,121);
    border-radius: 3px;
    padding:3px;
    font-size: 15px;
    margin-right: 5px;
}

.imagenes-projects{
    margin-top: 20px;
    width: 80px;
    height: 80px;
}


.form-add-project{
   
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;  
    background-color: #f9f9f9;
   
    /* width: 100%;
    max-width: 1000px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;*/
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}




.fondo-login {
    background-image: url('images/dib.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;  
}



.fondo-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-position: inherit;
    filter: blur(10px);
    z-index: -1;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.form-container .btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}

.navbar-custom {
    background-color: #006b40; /* Cambia este color al que prefieras */
    font-size: 20px; /* Cambia este tamaño al que prefieras */
}

.navbar-custom .nav-link {
    color: white; /* Cambia el color del texto al que prefieras */
}

.navbar-custom .nav-link:hover {
    color: #ddd; /* Cambia el color del texto al pasar el ratón por encima */
}

.navbar-custom .navbar-nav .nav-item {
    margin-right: 60px; /* Ajusta este valor para cambiar la separación */
}


.footer {
    color: white;
    background-color: #006b40;
    margin-top: 6em;
    padding: 0.5em;
    padding-left: calc(32% - 240px);
    padding-right: calc(32% - 240px);
    text-align: center;
    font-size: 10pt;
}