
.imagenes{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.project-table{
    
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    /*background-color: rgba(104, 98, 98, 0.863);*/
    background-color: rgba(173, 173, 173, 0.863);
    color: black;      
  /*  font-family: 'Poppins', sans-serif;*/
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
}

.projects-link{
    color:rgb(12, 116, 121);
    border: 1px solid rgb(12,116,121);
    border-radius: 3px;
    padding:3px;
    font-size: 15px;
    margin-right: 5px;
}

.imagenes-projects{
    margin-top: 20px;
    width: 80px;
    height: 80px;
}


.form-add-project{
   
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;  
    background-color: #f9f9f9;
   
    /* width: 100%;
    max-width: 1000px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;*/
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}